<header>
  <h3 class="logo">QUIZKR</h3>
    <nav>
    <ul class="nav_links">
      <li><a href="#home">Home</a></li>
      <li><a href="#pricing">Pricing</a></li>
      <li><a href="#about">About</a></li>
    </ul>
    </nav>
    <a routerLink="register" *ngIf="!this.isLogged" class="cta" href="#"><button class="cta1" (click)="this.nav()">LOGIN</button></a>
    <a class="cta" *ngIf="this.isLogged" href="#"><button class="cta1" (click)="this.logout()">Logout</button></a>
</header>
<body>
  <section id="home">
    <div>
      <button class="opt-1"(click)="this.aiquiz()">AI Quiz</button>
      <button class="opt-2" (click)="this.sgquiz()">Generate</button>
    </div>
  </section>
  <section id="pricing">
    <h3 id="pricing-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Suscipit nulla, aperiam impedit corporis libero, voluptate numquam
       necessitatibus eveniet aspernatur vero cum esse quasi accusantium, 
      quibusdam iste accusamus natus blanditiis officiis.</h3>
    <button class="arrow-button" (click)="this.pay()"><a href="#payment">click to pay</a><span class="arrow"></span>
    </button>
  </section>
  <section id="about">about</section>

</body>
