<header>
    <h3 class="logo" routerLink="">QUIZKR</h3>
      <a routerLink="register" *ngIf="!this.isLogged" class="cta" href="#"><button class="cta1" (click)="this.nav()">LOGIN</button></a>
      <a class="cta" *ngIf="this.isLogged" href="#"><button class="cta1" (click)="this.logout()">Logout</button></a>
  </header>
<div class="container">
    <h2 class="mt-5 mb-4">Pay 35 Dollars To Avail Subscription</h2>
    <!-- <div class="col-md-5 mb-2">
        <button (click)="makePayment(15)" class="btn btn-danger btn-block">Pay $15</button>
    </div>
    <div class="col-md-5 mb-2">
        <button (click)="makePayment(25)" class="btn btn-primary btn-block">Pay $25</button>
    </div> -->
    <div class="col-md-5">
        <button (click)="makePayment(35)" class="btn btn-success btn-block">Pay $35</button>
    </div>
</div>