li,a,button{
    font-family: "montserrat",sans-serif;
    font-weight: 500;
    font-style: 16px;
    color: #edf0f1;
    text-decoration: none;

}
.logo{
    margin-right: auto;
    cursor: pointer;
    color: white;
}
header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:1px 5%;
    background-color: #004f88;
}

.nav_links{
    
    list-style: none;
}.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    align-items: center;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #ffc259;
}
.nav{
    margin-top: 2px;
}
.cta1{
    margin: 20px;
    padding: 6px 25px;
    background-color: #ffc259;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
.cta1:hover{
    background-color:black;
    color:white;
}