*:after,
*:before {
  box-sizing:initial;

}
body {
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
 
  background: -webkit-linear-gradient(to left, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;

}
header {

  width: 100%;
margin-bottom: 0;
  display: flex;

  align-items: center;
  padding: 20px 5%;

  background-color: #ffc649;

}



.logo {
  margin: 0;
  cursor: pointer;
  color: #179ea6;
  font-size: 29px;
}

.toname {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
 /* From https://css.glass */
background: rgba(198, 211, 215, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #123d7e;
  height:50px;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.card {
  max-width: 800px;
 /* From https://css.glass */
background: rgba(225, 217, 215, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  padding: 10px;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
}

li .card:hover {
  border: 1px solid blue;
}

ol {
  padding: 0;
}


.opt-2{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;
  background: transparent;
  color: #fbdc61;
  box-shadow: 0 0 0 3px #fbdc61 inset;

  
}
.opt-2:hover{
  transform: translateY(-2px);
  color: #000;
  background-color: #fbdc61;
  transition: 0.5s;

}