<!DOCTYPE html>
<html lang="en">
<header>
  <h3 class="logo" routerLink="">QUIZKR</h3>
  <nav>
    <ul class="nav_links">
      <li><a href="http://localhost:4200/aiquiz">AI Quiz</a></li>
    </ul>
  </nav>
  <a routerLink="register" *ngIf="!this.isLogged" class="cta" href="#"><button class="cta1"
      (click)="this.nav()">LOGIN</button></a>
  <a class="cta" *ngIf="this.isLogged"><button class="cta1" (click)="this.logout()">Logout</button></a>
</header>

<body>
  <div *ngIf="!this.hide">
    <form [formGroup]="myForm" (ngSubmit)="submit()">
      <label>Question Goes here </label>
      <input formControlName="question" type="text" placeholder="Enter your Question" required="" /><br><br>
      <label>Answer Options:</label><br>
      <input formControlName="answer1" type="text" placeholder="Enter Option 1" required=""><br>
      <input formControlName="answer2" type="text" placeholder="Enter Option 2" required=""><br>
      <input formControlName="answer3" type="text" placeholder="Enter Option 3" required=""><br>
      <input formControlName="answer4" type="text" placeholder="Enter Option 4" required=""><br><br>

      <label>Correct Answer </label>
      <input formControlName="cAnswer" type="text" placeholder="Enter the Correct Option" required="" /><br><br>
      <button type="submit">Add Another!</button><br><br>
    </form>
    <button (click)="this.finished()">Finished!</button>
  </div>
  <div class="link-section" *ngIf="this.hide">
    <h2>Id Of the Quiz: {{this.link}}</h2>
    <h4>Copy the link in the link box to attend your quiz!</h4>
    <div class="link-box" style="text-align: justify; padding-left: 130px;">
      <input type="text" id="quizLink" value="{{this.link}}" readonly>
      <button (click)="this.copyLink()">Copy Link</button>
    </div>
  </div>
</body>