<header>
    <h3 class="logo" routerLink="">QUIZKR</h3>
    <nav>
        <ul class="nav_links">
            <li><a href="" style="font-weight: 25px;">Home</a></li>
        </ul>
    </nav>
</header>

<body [style.backgroundColor]="backgroundStyle" [ngClass]="currentTheme">
    <div class="alert success-alert" *ngIf="this.isReg">
        <div class="icon">&#10004;</div>
        <h3>{{this.sucMsg}}</h3>
    </div>

    <div class="alert danger-alert" *ngIf="this.iserror">
        <div class="icon">&#10060;</div>
        <h3>{{this.errMsg}}</h3>
    </div>

    <div class="alert warning-alert" *ngIf="this.iswarn">
        <div class="icon">&#9888;</div>
        <h3>{{this.warnMsg}}</h3>
    </div>
    <div class="container">
        <div class="first" *ngIf="!hide && !temp">
            <label>Enter Your Email:</label>
            <input type="email" placeholder="Enter Your Email!" (input)="check()" [(ngModel)]="mail" required><br>
            <button (click)="submit()" [disabled]="isValid">Submit</button>
        </div>
        <div class="second" *ngIf="hide">
            <p class="success-message">Link Sent To Your Email!</p>
        </div>
        <div class="third" *ngIf="temp">
            <input type="password" name="password" class="form-style" placeholder="Your Password" [(ngModel)]="password"
                ngModel #passwordInput="ngModel" required>
            <i class="input-icon uil uil-lock-alt"></i>
            <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error-message">
                <div *ngIf="passwordInput.hasError('required')">Password is required.</div>
            </div>
            <input type="password" name="cpassword" class="form-style" placeholder="Confirm Password"
                [(ngModel)]="cpassword" ngModel #cpasswordInput="ngModel" required>
            <i class="input-icon uil uil-lock-alt"></i>
            <div *ngIf="cpasswordInput.invalid && (cpasswordInput.dirty || cpasswordInput.touched)"
                class="error-message">
                Confirm Password is required.
            </div>
            <div *ngIf="password !== cpassword" class="error-message">
                Passwords do not match.
            </div>
            <button (click)="send()">Reset</button>
        </div>
    </div>
    <!-- <button (click)="this.toggleTheme()">Toggle Theme</button> -->
</body>